@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #d2dac3;
    --global-bg-2: #ed8733;
    --global-bg-3: #efeeea;
    --global-text-1: #000000;
    --global-text-2: #ed4d33;
    --global-text-3: #ed8733;
    --global-text-4: #efeeea;
    --global-text-5: #ffffff;

    /* Button Colors */
    --button-bg-1: #476040;

    /* Footer Colors */
    --footer-bg-1: #d9d9d9;
  }
}

@layer utilities {
  /* Global */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }
  .text-global-4 {
    color: var(--global-text-4);
  }
  .text-global-5 {
    color: var(--global-text-5);
  }

  /* Button */
  .bg-button-1 {
    background-color: var(--button-bg-1);
  }

  /* Footer */
  .bg-footer-1 {
    background-color: var(--footer-bg-1);
  }
}